* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 800;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}